Lab3/assignment 1/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EmployeeList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="employee" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="building"/>
				<xs:element ref="region"/>
				<xs:element ref="city"/>
				<xs:element ref="country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="building">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Building: 2,"/>
				<xs:enumeration value="Building: 4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="City: Alex"/>
				<xs:enumeration value="City: Alex,"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="company">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmployeeList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="egypt"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="e-mail">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Email: donia@gmail.com"/>
				<xs:enumeration value="Email: rewan@gmail.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="phones"/>
				<xs:element ref="address"/>
				<xs:element ref="e-mail"/>
			</xs:sequence>
			<xs:attribute name="isbn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Name: Donia Ahmed"/>
				<xs:enumeration value="Name: Rewan Mohamed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_phone">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="home"/>
								<xs:enumeration value="mobile"/>
								<xs:enumeration value="work"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="phones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phone" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Region: Alex"/>
				<xs:enumeration value="Region: Alex,"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Street: Montaza,"/>
				<xs:enumeration value="Street: el raml"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_phone">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="Home: 01286763"/>
			<xs:enumeration value="Home: 01686335"/>
			<xs:enumeration value="Mobile: 01065445"/>
			<xs:enumeration value="Mobile: 0120654"/>
			<xs:enumeration value="Work: 01101676"/>
			<xs:enumeration value="Work: 01246546"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
